@model List<UsuarioModel>


<!DOCTYPE html>
<html>

<head>
    <title>Tela de Pesquisa</title>
</head>

<style>
    #editModal {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); 
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 9999; 
    }

   
    #updateForm {
        background-color: #fff; 
        padding: 20px;
        border-radius: 10px;
    }

        #updateForm input {
            display: block;
            width: 100%;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px; 
            border: 1px solid #ccc;
        }

        #updateForm button {
            padding: 10px 20px;
            margin-right: 10px;
            border-radius: 5px;
            border: none;
            color: #fff;
            cursor: pointer;
        }

            #updateForm button:nth-child(1) {
                background-color: #007BFF; 
            }

            #updateForm button:nth-child(2) {
                background-color: #6C757D; 
            }
</style>

<body>


    <h1>Pesquisar Nome</h1>
    <form id="searchForm">
        <div>
            <input type="text" id="searchNameInput" placeholder="clique para pesquisar">
            <button type="button" onclick="pesquisarNome()">Pesquisar</button>
            <button type="button" id="newUserButton" onclick="inserirNovoUsuario()">Novo Usuário</button>

        </div>
    </form>

    @{
        if (Model.Count() == 0)
        {
            <p>Não há dados.</p>
        }
        else
        {
            <table>
                <tr>
                    <th>Nome</th>
                    <th>CPF/CNPJ</th>
                    <th>Telefone</th>
                    <th>Email</th>
                    <th>Endereço Comercial</th>
                    <th>Endereço Residencial</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
                @foreach (var usuario in Model)
                {
                    <tr>
                        <td>@usuario.Nome</td>
                        <td>@(usuario.CPF ?? usuario.CNPJ)</td>
                        <td>@usuario.Telefone</td>
                        <td>@usuario.Email</td>
                        <td>@usuario.EndComercial</td>
                        <td>@usuario.EndResidencial</td>
                        <td>
                            <button onclick="editarDados('@usuario.Id', '@usuario.Nome', '@(usuario.CPF ?? usuario.CNPJ)')">Editar</button>
                        </td>
                        <td>
                            <button onclick="abrirModalConfirmacao('@usuario.Id', '@usuario.Nome')">Excluir</button>
                        </td>
                    </tr>
                    <tr style="display: none;">
                        <td colspan="7">
                            <input type="hidden" id="userIdvalor" value="@usuario.Id" />
                        </td>
                    </tr>
                }
            </table>
        }
    }



    <div id="editModal" style="display: none;">
        <form id="updateForm" action="/Home/Update" method="post">
            <h2>Editar Dados</h2>
            <label for="editNome">Nome:</label>
            <input type="text" id="editNome" name="Nome">
            <label for="editCPF">CPF/CNPJ:</label>
            <input type="text" id="editCPF" name="CPF">
            <label for="editTelefone">Telefone:</label>
            <input type="text" id="editTelefone" name="Telefone">
            <label for="editEmail">Email:</label>
            <input type="text" id="editEmail" name="Email">
            <label for="editEndComercial">Endereço Comercial:</label>
            <input type="text" id="editEndComercial" name="EndComercial">
            <label for="editEndResidencial">Endereço Residencial:</label>
            <input type="text" id="editEndResidencial" name="EndResidencial">

            <button type="button" onclick="salvarEdicao()">Salvar</button>
            <button type="button" onclick="fecharModal()">Cancelar</button>
        </form>
    </div>

    <div id="overlay" style="display: none; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background-color: rgba(0, 0, 0, 0.5); z-index: 1;"></div>

    <div id="confirmModal" style="display: none; position: fixed; top: 50%; left: 50%; transform: translate(-50%, -50%); z-index: 2;">
        <div style="background-color: white; padding: 20px; border-radius: 8px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); text-align: center;">
            <h2 style="margin-top: 0;" id="modalMessage">Deseja realmente excluir?</h2>
            <button style="margin-right: 10px; padding: 8px 20px; background-color: #d9534f; color: white; border: none; border-radius: 4px; cursor: pointer;" id="botaoconfirmar">Sim</button>
            <button style="padding: 8px 20px; background-color: #337ab7; color: white; border: none; border-radius: 4px; cursor: pointer;" onclick="fecharModalexcluir()">Cancelar</button>
        </div>
    </div>



    <script>
        $(document).ready(function () {
            function filterTableRows(searchValue) {
                const rows = $("table tr:not(:first-child)");

                rows.each(function () {
                    const nameColumn = $(this).find("td:first-child").text().toLowerCase();
                    if (nameColumn.includes(searchValue.toLowerCase())) {
                        $(this).show();
                    } else {
                        $(this).hide();
                    }
                });
            }

            $("#searchForm button").click(function () {
                const searchInput = $("#searchNameInput").val(); 
                filterTableRows(searchInput);
            });


            function clearSearch() {
                $("#searchNameInput").val(""); 
                $("table tr").show(); 
            }

        });

    

        function fecharModal() {
            var modals = document.querySelectorAll('[id$=Modal]');
            modals.forEach(function (modal) {
                modal.style.display = 'none';
            });
        }

        function fecharModalexcluir() {
            var overlay = document.getElementById('overlay');
            var modals = document.querySelectorAll('[id$=Modal]');
            overlay.style.display = 'none';
            modals.forEach(function (modal) {
                modal.style.display = 'none';
            });
        }
        function pesquisarNome() {

        }

        function editarDados(id, nome, cpf) {
            var nomeParametro = nome;
            var cpfParametro = cpf;

            document.getElementById("editNome").value = nomeParametro;
            document.getElementById("editCPF").value = cpfParametro;

            abrirModal();
        }

        function abrirModal() {
            $("#editModal").show();
        }
        function inserirNovoUsuario() {
            window.location.href = "/Home/Cadastrar";
        }

        var userIdToDelete = null;
        var userNameToDelete = null;

        function abrirModalConfirmacao(id, nome) {
            userIdToDelete = id;
            userNameToDelete = nome;

            var modal = document.getElementById('confirmModal');
            modal.querySelector('#modalMessage').innerText = `Deseja realmente excluir o usuário ${nome}?`;
            modal.style.display = 'block';

            $("#botaoconfirmar").click(function () {
                fecharModal();

                excluirUsuario(userIdToDelete);
            });
        }

        function fecharModal() {
            var modal = document.getElementById('confirmModal');
            modal.style.display = 'none';
        }

        function excluirUsuario(id) {
            $.ajax({
                url: `/Home/DeletarUsuario?id=${id}`,
                type: 'DELETE',
                success: function (result) {
                    console.log("Requisição de exclusão bem-sucedida!", result);
                    location.reload();
                },
                error: function (error) {
                    console.log("Erro ao excluir usuário:", error);
                }
            });
        }



        function fecharModal() {
            $("#editModal").hide();
        }

        function salvarEdicao() {
            const form = document.getElementById('updateForm');
            const updatedId = document.getElementById('userIdvalor').value;
            const updatedNome = document.getElementById('editNome').value;
            const updatedCPF = document.getElementById('editCPF').value;
            const updatedTelefone = document.getElementById('editTelefone').value;
            const updatedEmail = document.getElementById('editEmail').value;
            const updatedEndComercial = document.getElementById('editEndComercial').value;
            const updatedEndResidencial = document.getElementById('editEndResidencial').value;

            const methodField = document.querySelector('input[name="_method"]');
            if (methodField) {
                methodField.remove();
            }

            const methodInput = document.createElement('input');
            methodInput.setAttribute('type', 'hidden');
            methodInput.setAttribute('name', '_method');
            methodInput.setAttribute('value', 'PUT');

            const idInput = document.createElement('input');
            idInput.setAttribute('type', 'hidden');
            idInput.setAttribute('name', 'Id');
            idInput.setAttribute('value', updatedId);

            form.appendChild(methodInput);
            form.appendChild(idInput);

            document.getElementById('editNome').value = updatedNome;
            document.getElementById('editCPF').value = updatedCPF;
            document.getElementById('editTelefone').value = updatedTelefone;
            document.getElementById('editEmail').value = updatedEmail;
            document.getElementById('editEndComercial').value = updatedEndComercial;
            document.getElementById('editEndResidencial').value = updatedEndResidencial;

            form.submit();
        }

    </script>
</body>

</html>
